.nav {
  display: flex;
  object-fit: contain;
  position: fixed;
  top: 0;
  width: 100%;
  /* animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav_black {
  background-color: #111;
}
.nav_logo {
  width: 80px;
  padding: 20px;
  object-fit: contain;
}
.nav_avatar {
  width: 50px;
  margin-right: 1rem;
  margin-left: auto;
  object-fit: contain;
}
